.top {
	width: 100%;
	float: left;
	display: block;
	margin: 10px;
}
.button-a {
	height: 20px;
	cursor: pointer;
	background-color: rgb(0,0,0);
	text-align: center;
	display: block;
	float: left;
	margin: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 15px;
	color: rgb(255,255,255);
}
.button-a:HOVER {
	background-color: rgb(30,30,30);
}
.editor-up {
	width: 100%;
    max-height: 800px;
	display: block;
	float: left;
	border: 1px solid #eee;
	padding: 10px;
}
.editor-down {
	width: 100%;
    max-height: 800px;
	background-color: #fcfaf2;
	display: block;
	float: left;
	border: 1px solid #eee;
	padding: 10px;
}


.editor-down .preview {
	background-color: #fcfaf2;
    overflow-y: auto;
    height: 600px;
}
.CodeMirror {
	height: 600px;
    max-height: 97%;
}





